li {
	margin: 5px;
}

h4 {
	margin-left: 2em;
}

.checked {
	text-decoration: line-through;
}

.no-decoration {
	list-style: none;
}

.no-show {
	display: none !important;
}

.xsm {
	width: 20px;
	text-align: center;
}

.mdm {
	width: 45px;
	text-align: center;
}